
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    
}



@*<video src="@Model .mp4"

    ></video>*@

@*<p> value : @Model.Name </p>*@

@*@if(@Model.Name.Substring(@Model.Name.Length-4).Equals(".mp4"))*@

<video controls="controls" height="400" autoplay>

    <source src="~/upload/Tum%20Hi%20Ho%20full.mp3" type="audio/mpeg" />
</video>

@*<audio controls="controls">
    <source src="~/upload/Tum%20Hi%20Ho%20full.mp3" type="audio/mpeg" />
</audio>*@
