@{
    //ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var s = ViewBag.list;
    var u = ViewBag.us;
}


@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<div style="height:200px">

</div>
@*<div>*@

@*<div style="border-width:100px;border-bottom-style:outset;border-radius:6px;border-color:blanchedalmond">*@
<div class="pull-left">
    <p style="color:azure;" class="pull-left">
        This is Copy Right Music Website. This is only owned by BCSF11M119 <br />
        Namely <strong> Zeil E Huma Jaffri</strong> 2011-2015<br />

        Instructor <strong> Shuja ur Rehman </strong><br />
        Subject : <strong> EAD </strong>
    </p>
</div>